* {
  font-family: "Poppins", sans-serif;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px;
}
.about-img img {
  width: 700px;
}
.about-card {
 height: 400px;
 margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
    padding: 20px;
   
    
}
.about-title {
  font-size: 2.5rem;
  font-weight: 800;
}
.btn {
  background-color: yellow;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px 20px;
}
.btn:hover {
  background-color: white;
  color: yellow;
  border: 1px solid yellow;
}

.service-portfolio{
    background-color: black;
        height: 700px;
}
.service{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}
.svg-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50%;
    margin: 30px;
}
.svg-contain{
   background-color: white;
    border: 1px solid saddlebrown;
    height: 350px;
    padding: 30px;
    border-radius: 20px;
}
.svg-img{
    width: 100px;
}
.client-content{
  margin-top: 100px;
}

.client-title{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.client-img{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.client-name{
    text-align: center;
}
.client-description{
    width: 700px;
    margin: 0px auto;
    
}
.background-input{
   background-image: url(./../images/contact-bg.jpg);
   height: 600px;
   display: flex;
   justify-content: center;
   margin-top: 100px;
}
.input-field{
    
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
.input-title{
  text-align: center;
}

.input-field input{
  padding: 10px;
  margin: 10px;
  
}
.input-btn{
  background-color: yellow;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    width: 150px;
    margin: 10px auto;
    
}
.input-btn:hover {
  background-color: white;
  color: yellow;
  border: 1px solid yellow;
}